{# @var diff \Papyrus\Domain\Articles\Difference\DifferencePayload #}

{% extends "layouts/simple.twig" %}

{% block title %}Просматривать статью{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm">
            <h4>Заголовок:</h4>
            <div class="article-title">
                {{ diff.title|raw }}
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Аттрибут</th>
                    <th scope="col">Версия статьи v.{{ diff.old.version }}</th>
                    <th scope="col">Версия статьи v.{{ diff.new.version }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Автор</td>
                    <td>{{ diff.old.author }}</td>
                    <td>{{ diff.new.author }}</td>
                </tr>
                <tr>
                    <td>Вес</td>
                    <td>{{ diff.old.weight }}</td>
                    <td>{{ diff.new.weight }}</td>
                </tr>
                <tr>
                    <td>Дата изменения</td>
                    <td>{{ diff.old.updated_at }}</td>
                    <td>{{ diff.new.updated_at }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <h4>Тело статьи:</h4>
            <div class="article-body">
                {{ diff.body|raw }}
            </div>
        </div>
    </div>
{% endblock %}