{# @var article \Papyrus\Persistent\Articles\ArticleRecord #}
{# @var page \Papyrus\Persistent\Page\PageRecord #}
{# @var host \Papyrus\Persistent\Host\HostRecord #}
{# @var errorsBag \Papyrus\Contracts\Application\Validator\ValidationErrorsBagContract #}

{% extends "layouts/simple.twig" %}

{% block head %}
    {{ parent() }}
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block title %}Создать статью{% endblock %}

{% block content %}

    {% block errors %}
        {% set errors = errorsBag.all() %}
        {% if errors %}
            <div class="alert alert-warning validation-errors" role="alert">
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}

    <form action="/articles/create" method="post" id="article-form">

        <div class="row">
            <div class="col-sm">
                Target page: <span class="badge badge-secondary">{{ page.path }}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="article-title">Заголовок</label>
            <input type="text" class="form-control" id="article-title" placeholder="Заголовок" name="article[title]" value="{{ article.title }}">
        </div>

        <div class="form-group">
            <div class="article-body">
                <div id="editor">
                    {{ article.body|raw }}
                </div>

                <textarea name="article[body]" style="display:none" id="article-body-textarea"></textarea>
            </div>
        </div>

        <div class="row">

            <div class="col-sm">
                <div class="form-group">
                    <label for="article-weight">Вес</label>
                    <input type="range" class="form-control-range" id="article-weight" min="1" max="1000" value="100">
                </div>
                <input type="number" class="form-control" id="article-weight-output" min="1" max="1000" value="100" name="article[weight]">
            </div>

            {#<div class="col-sm">#}
                {#<div class="form-group">#}
                    {#<div><label for="article-weight"> Статус</label></div>#}
                    {#<div class="btn-group btn-group-toggle" data-toggle="buttons">#}
                        {#<label class="btn btn-outline-primary active">#}
                            {#<input type="radio" name="article[status]" value="published" id="option1" autocomplete="off" checked> Активно#}
                        {#</label>#}
                        {#<label class="btn btn-outline-primary">#}
                            {#<input type="radio" name="article[status]" value="hide" id="option2" autocomplete="off"> Скрыто#}
                        {#</label>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>

        <input type="hidden" name="article[status]" value="published">
        <input type="hidden" name="article[page_id]" value="{{ page.id }}">
        <input type="hidden" name="article[author]" value="{{ article.author }}">

        <hr>

        <div class="row">
            <div class="col-sm">
                <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-success" value="article">Опубликовать</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script type="text/javascript">
      var quill = new Quill('#editor', {
        theme: 'snow'
      });

      $('#article-form').on('submit', function () {
        let articleBody = $('#editor .ql-editor').html();
        if (articleBody === '<p><br></p>') {
          return;
        }
        $('#article-body-textarea').val(articleBody);
      });

      <!-- Slider -->
      var slider = document.getElementById('article-weight');
      var output = document.getElementById('article-weight-output');
      output.innerHTML = slider.value; // Display the default slider value

      // Update the current slider value (each time you drag the slider handle)
      slider.oninput = function () {
        output.value = this.value;
      };
    </script>
{% endblock %}