{# @var articles \Papyrus\Persistent\Articles\ArticleRecordSet #}

{% extends "layouts/simple.twig" %}

{% block title %}Список статей{% endblock %}

{% block content %}

    {% for article in articles %}
        <div class="card">
            <div class="card-header">
                {{ article.title }}
            </div>
            <div class="card-body">
                <div class="col-sm">Весрия: {{ article.version }}</div>
                <div class="col-sm">Автор: {{ article.author.username }}</div>
                <div class="col-sm">Создано: {{ article.created_at }}</div>
                <div class="col-sm">Изменено: {{ article.updated_at }}</div>
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-info" href="/articles/history/{{ article.pid }}" role="button">История</a>
            </div>
        </div>
        <br>

    {% endfor %}
{% endblock %}