{# @var article \Papyrus\Persistent\Articles\ArticleRecord #}

{% extends "layouts/simple.twig" %}

{% block title %}Просматривать статью{% endblock %}

{% block content %}
    <h3>{{ article.title }} [v.{{ article.version }}]</h3>
    <div class="article-header row border-top border-bottom">
        <div class="col-sm">Автор: {{ article.author }}</div>
        <div class="col-sm">Вес: {{ article.weight }}</div>
        <div class="col-sm">Создано: {{ article.created_at }}</div>
        <div class="col-sm">Изменено: {{ article.updated_at }}</div>
    </div>
    <br>
    <div class="article-body">
        {{ article.body|raw }}
    </div>
{% endblock %}