
.papyrus {
    z-index: 100;
    position: fixed;
    bottom: 0;
    right: 10px;
    padding: 1em 1.5em;
    background-color: #36bc98;
    border: 0;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
}

.papyrus .papirus__menu-item {
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
    cursor: hand;
}

.papyrus span.papirus__menu-item-delimiter {
    margin: 0 4px 0;
}

.sidenav {
    background-color: #111;
    height: 100%;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    right: 0;
    top: 0;
    transition: .5s;
    width: 0;
    z-index: 1;
}

.sidenav p {
    color: #818181;
    display: block;
    font-size: 20px;
    padding: 4px 8px 4px 32px;
    text-decoration: none;
    transition: .3s;
    margin-bottom: 0;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
    top: 0;
}