#selector-top, #selector-bottom {
    background: blue;
    height: 3px;
    position: fixed;
    transition: all 300ms ease;
}

#selector-left, #selector-right {
    background: blue;
    width: 3px;
    position: fixed;
    transition: all 300ms ease;
}

.n {
    -webkit-transform: scale(3) translateX(100px)
}
