{# @var pages \Papyrus\Persistent\Page\PageRecordSet #}

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>
            <i class="fas fa-angle-double-right"></i>
            Страницы
        </span>
    <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
    </a>
</h6>

<ul class="nav flex-column mb-2">
    {% for page in pages %}
        <li class="nav-item">
            <a class="nav-link" href="/admin/pages/show/{{ page.id }}">
                <i class="fas fa-file-alt"></i>
                {{ page.path }} ({{ page.title }})
            </a>
        </li>
    {% endfor %}
</ul>