{# page \Papyrus\Persistent\Page\PageRecord #}

{% extends "layouts/admin.twig" %}

{% block title %}Редактировать страницу{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Редактировать страницу - {{ page.path }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
    </div>

    {% block errors %}
        {% set errors = errorsBag.all() %}
        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endblock %}

    <form action="/admin/pages/edit/{{ page.id }}" method="post" id="page-form">
        <div class="form-group">
            <label for="article-title">Описание страницы</label>
            <input type="text" class="form-control" id="article-title" placeholder="Заголовок" name="page[title]" value="{{ page.title }}">
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" href="/admin/pages/show/{{ page.id }}" role="button">К статьям</a>
                    <button type="submit" class="btn btn-success">Обновить</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}