{# page \Papyrus\Persistent\Page\PageRecord #}
{# articles \Papyrus\Persistent\Articles\ArticleRecordSet #}

{% extends "layouts/admin.twig" %}

{% block title %}Просмотр страницы{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Страницы - {{ page.path }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/admin/pages/edit/{{ page.id }}" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Edit</a>
            </div>

            <a class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true" href="/admin/pages/{{ page.id }}/articles/create">
                Создать статью
            </a>
        </div>
    </div>

    <table class="table table-hover">
        <tbody>
        {% for article in articles %}
            <tr>
                <td>
                    <h6 class="{% if article.status == 'hide' %}text-muted{% endif %}">{{ article.title }}</h6>
                    <button type="button" class="btn btn-outline-info btn-sm">
                        Version <span class="badge badge-light">{{ article.version }}</span>
                    </button>
                    <button type="button" class="btn btn-sm {% if article.status == 'hide' %}btn btn-outline-info{% else %}btn btn-outline-success{% endif %}">
                        Status <span class="badge badge-light">{{ article.status }}</span>
                    </button>
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="/admin/pages/{{ page.id }}/articles/show/{{ article.pid }}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">Show</a>
                        <a href="/admin/pages/{{ page.id }}/articles/edit/{{ article.pid }}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">Edit</a>
                        <a href="/admin/pages/{{ page.id }}/articles/history/{{ article.pid }}" class="btn btn-outline-info btn-sm" role="button" aria-pressed="true">History</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}