<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Diff Page - Papyrus</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/test/style.css">
    <link rel="stylesheet" type="text/css" href="/css/introjs.css">
    <link rel="stylesheet" type="text/css" href="/css/introjs-rtl.css">
    <link rel="stylesheet" type="text/css" href="/css/selector.css">
    <link rel="stylesheet" type="text/css" href="/css/articles-menu.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
    <script type="text/javascript" src="/js/intro.js"></script>
    <script type="text/javascript" src="/js/fetcher.js"></script>

</head>
<div id="selector">
    <div id="selector-top"></div>
    <div id="selector-left"></div>
    <div id="selector-right"></div>
    <div id="selector-bottom"></div>
</div>
<body>

<h1>Diff Page</h1>
<div>main page for diff</div>

</body>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>


</html>
