<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Main Page - Papyrus</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/test/style.css">
    <link rel="stylesheet" type="text/css" href="/css/introjs.css">
    <link rel="stylesheet" type="text/css" href="/css/introjs-rtl.css">
    <link rel="stylesheet" type="text/css" href="/css/selector.css">
    <link rel="stylesheet" type="text/css" href="/css/articles-menu.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
    <script type="text/javascript" src="/js/intro.js"></script>
    <script type="text/javascript" src="/js/fetcher.js"></script>

</head>
<div id="selector">
    <div id="selector-top"></div>
    <div id="selector-left"></div>
    <div id="selector-right"></div>
    <div id="selector-bottom"></div>
</div>
<body>

<h1>Test Page</h1>
<div>main page for testing</div>
<div data-intro='Hello step one!'>Step one</div>

<a href="#open-modal" id="modal-window__link">Open Modal</a>
<div id="open-modal" class="modal-window">
    <div>
        <a href="#modal-close" title="Close" class="modal-close">close &times;</a>
        <h1 class="modal-window__title">CSS Modal</h1>
        <div class="modal-window__body">The quick brown fox jumped over the lazy dog.</div>
        <div class="modal-window__footer">
            <button onclick="editArticle(this)">Редактировать</button>
        </div>
    </div>
</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <p>About</p>
    <p>Services</p>
    <p>Clients</p>
    <p>Contact</p>
</div>

<div class="papyrus">
    <span class="papirus__menu-item fas fa-lightbulb"></span>
    <span class="papyrus__menu-item-delimiter">&nbsp;</span>
    <span class="papirus__menu-item fas fa-sticky-note"></span>
    <span class="papyrus__menu-item-delimiter">&nbsp;</span>
    <span class="papirus__menu-item fas fa-book" onclick="toggleMenu()"></span>
    <span class="papyrus__menu-item-delimiter">&nbsp;</span>
    <span class="papirus__menu-item fas fa-plus-square" onclick="Articles.create(Location.getHost(), Location.getPathname(), 'John Doe')"></span>
</div>

</body>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
{#<script type="text/javascript" src="/js/selector.js"></script>#}

<script type="text/javascript">

  var articles = [];

  function setArticles (articles) {
    let root = document.getElementById('mySidenav');
    let articlesTitles = [];

    articles.forEach(function (article) {
      articlesTitles.push('<p data-article-id="' + article.id + '" onclick="showArticle(this)">' + article.attributes.title + ' [v.' + article.attributes.version + ']' + '</p>');
    });
    root.innerHTML = articlesTitles.join('\n');
  }

  function showArticle (target) {
    const articleId = target.dataset.articleId;
    articles.forEach(function (article) {
      if (article.id === articleId) {
        let modalWindow = document.getElementsByClassName('modal-window');
        modalWindow = modalWindow[0];
        let title = document.getElementsByClassName('modal-window__title');
        title[0].innerHTML = article.attributes.title + ' [v' + article.attributes.version + ']';
        let body = document.getElementsByClassName('modal-window__body');
        body[0].innerHTML = article.attributes.body;
        modalWindow.dataset.articleId = article.id;
      }
    });

    let button = document.getElementById('modal-window__link').click();
  }

  function editArticle (target) {
    let modalWindow = document.getElementsByClassName('modal-window');
    modalWindow = modalWindow[0];
    let articleId = modalWindow.dataset.articleId;
    Articles.edit(articleId, 'John Doe');
  }

  function toggleMenu () {
    var element = Nav.target();
    if (element.style.width === '' || element.style.width === '0px') {
      Articles.list(Location.getPathname(), 'John Doe');
      Nav.open();
    } else {
      Nav.close();
    }
  }

  var Articles = {
    create: function (location, path, author) {
      let url = encodeURI('http://82.146.40.73/articles/create?path=' + path + '&author=' + author);
      window.open(url, '_blank');
    },
    list: function (page, author) {
      let url = encodeURI('/api/v1/articles/list?page=' + page + '&author=' + author);
      Fetcher.get(url, {
        'Content-Type': 'application/javascript',
      })
        .then(response => {
          articles = response.data;
          setArticles(articles);
        })
        .catch(error => console.log(error));
    },
    edit: function (articleId, author) {
      let url = encodeURI('http://82.146.40.73/articles/edit/' + articleId + '?author=' + author);
      window.open(url, '_blank');
    }
  };

  var Nav = {
    target: function () {
      return document.getElementById('mySidenav');
    },
    open: function () {
      Nav.target().style.width = '250px';
    },
    close: function () {
      Nav.target().style.width = '0';
    }
  };

  var Location = {
    getPathname: pathname => {
      return window.location.pathname;
    },
    getHost: host => {
      return window.location.host;
    }
  };

</script>

</html>
