{# @var page \Papyrus\Persistent\Page\PageRecord #}
{# @var articles \Papyrus\Persistent\Articles\ArticleRecordSet #}

{% extends "layouts/admin.twig" %}

{% block title %}История{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">История статьи</h1>
    </div>

    <form action="/admin/pages/{{ page.id }}/articles/compare" method="post" id="compare-form">
        {% for article in articles %}
            <div class="card">
                <div class="card-header">
                    {{ article.title }}
                </div>
                <div class="card-body">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="articles[]" value="{{ article.id }}" id="compare-checkbox-{{ article.id }}">
                        <label class="form-check-label" for="compare-checkbox-{{ article.id }}">
                            Сравнить версии
                        </label>
                    </div>

                    <div class="col-sm">Весрия: {{ article.version }}</div>
                    <div class="col-sm">Автор: {{ article.author.username }}</div>
                    <div class="col-sm">Создано: {{ article.created_at }}</div>
                    <div class="col-sm">Изменено: {{ article.updated_at }}</div>
                </div>
            </div>
            <br>

        {% endfor %}

        <div class="row">
            <div class="col-sm">
                <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-primary">Сравнить</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}