{# @var article \Papyrus\Persistent\Articles\ArticleRecord #}

{% extends "layouts/admin.twig" %}

{% block title %}Просматривать статью{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">История статьи</h1>
    </div>


    <h3>{{ article.title }} [v.{{ article.version }}]</h3>
    <div class="article-header row border-top border-bottom">
        <div class="col-sm">Автор: {{ article.author }}</div>
        <div class="col-sm">Вес: {{ article.weight }}</div>
        <div class="col-sm">Статус: {{ article.status }}</div>
        <div class="col-sm">Создано: {{ article.created_at }}</div>
        <div class="col-sm">Изменено: {{ article.updated_at }}</div>
    </div>
    <br>
    <div class="article-body">
        {{ article.body|raw }}
    </div>
{% endblock %}